{% extends 'app.html' %} {% load static %} {% block header %}
<title>JBerry | Register Page</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
{% endblock header %} {% block mainbody %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header mb-3">
      <h2 class="text text-primary text-center">Register for a new Account</h2>
    </div>
    <div class="form-body container">
      {% if message %}
      <h3>{{message}}</h3>
      {% endif %}
      <form class="container" action="{% url 'register' %}" method="post">
        {% csrf_token %}

        <div class="form-group row">
          <label for="username" class="col-sm-2 col-form-label"
            >Enter Your User Name</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              name="username"
              class="form-control"
              id="username"
              placeholder="Enter Your User Name"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="username" class="col-sm-2 col-form-label"
            >Enter Your First Name</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              name="first_name"
              class="form-control"
              id="first_name"
              placeholder="Enter Your First Name"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="username" class="col-sm-2 col-form-label"
            >Enter Your Last Name</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              name="last_name"
              class="form-control"
              id="last_name"
              placeholder="Enter Your Last Name"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label"
            >Enter Your Email Address</label
          >
          <div class="col-sm-10">
            <input
              type="email"
              name="email"
              class="form-control"
              id="email"
              placeholder="Enter Your Email Address"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label"
            >Give a strong Password</label
          >
          <div class="col-sm-10">
            <input
              type="password"
              name="password"
              class="form-control"
              id="password"
              placeholder="Password"
            />
          </div>
        </div>

        <input class="btn btn-info mb-5" type="submit" value="Register" />
      </form>
      {% if success %}
      <div class="card-footer">
        <div class="alert alert-success">
          <h4 class="text-center">{{success}}</h4>
        </div>
      </div>
      {% endif %} {% if error %}
      <div class="alert alert-danger">
        <h5 class="text-center">{{error}}</h5>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock mainbody %}
